/* Your theme file - ONLY these 4 colors */
@import "tailwindcss";

@theme {
  --color-primary: #2b2e33;
  --color-secondary: #7b7f85;
  --color-muted: #c1c4c8;
  --color-surface: #f5f6f7;
  
  /* Light theme utilities */
  --color-bg: #ffffff;
  --color-card: #fafbfc;
  --color-text: #2b2e33;
  --color-text-muted: #7b7f85;
}

*{
   font-family: "Syne", sans-serif;
    font-family:'Neofolia Regular';
    letter-spacing: 2px;
}

    @font-face {
    font-family: 'Neofolia Regular';
    /* font-style: normal;
    font-weight: normal; */
    src: local('Neofolia Regular'), url('neofolia.woff') format('woff');
    }